/* About Start */
.social {
  display:none;
}

.aboutTitle {
	margin-top: 100px;
	font-family: AvenirNext-Regular;
	text-align: center;
	font-size: 50px;
	font-weight: 200;
}
.aboutLeftRight {
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
}
.aboutLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}
.aboutLeftHeadings {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.aboutLeftTitle {
	font-family: LightFont;
	font-size: 30px;
	font-weight: 100;
	display: inline-block;
	margin: 50px 60px;
}
.aboutLeftSubTitle {
	display: inline-block;
	font-family: Pixeland;
	font-size: 30px;
	font-weight: 100;
}
.aboutImage {
	width: 45%;
	margin-right: -50px;
}

.aboutRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}
.aboutRightText {
	text-align: center;
	max-width: 75%;
	font-family: "Courier New", Courier, monospace;
	font-size: 17px;
	line-height: 20px;
}

.aboutRightFounder {
	margin: 50px 0;
}
.aboutRightFounderTitle {
	display: inline-block;
	font-size: 30px;
	font-family: AvenirNext-Regular;
}
.aboutRightFounderName {
	display: inline-block;
	font-size: 30px;
	margin-left: 30px;
	font-family: BudhayantiScript;
}

.aboutRightFollow {
	margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutRightFollowUs {
	font-family: AvenirNext-Regular;
	font-size: 24px;
}

.aboutSocial {
  margin: 25px 50px;
}

.aboutSocial a {
  color: black;
  text-decoration: none;
	transition: 1s ease-in-out;
}

.aboutSocial i {
  font-size: 2em;
	margin: 0 15px;
	transition: 0.2s ease-in;
}
/* About End */

/* Media Queries */

@media(max-width: 1540px) {
  .aboutRightFounderTitle {
    font-size: 24px;
  }
  .aboutRightFounderName {
    font-size: 24px;
  }
}
@media(max-width: 1260px) {
  .aboutTitle {
    margin-top: 20px;
  }
  .aboutLeftRight {
    flex-direction: column;
    margin: auto;
  }
  .aboutLeft {
    max-width: 100%;
  }
  .aboutRight {
    max-width: 100%;
    margin-top: 50px;
  }
}
@media(max-width: 630px) {
  .aboutRightFounderTitle {
    font-size: 20px;
  }
  .aboutRightFounderName {
    font-size: 20px;
    font-weight: 400;
  }
  .aboutRightFollowUs {
    font-size: 20px;
  }
}
@media(max-width: 530px) {
  .aboutRightFounderTitle {
    font-size: 20px;
  }
  .aboutRightFounderName {
    font-size: 20px;
    font-weight: 400;
    display: block;
    line-height: 60px;
    margin: 0;
  }
  .aboutRightFollowUs {
    max-width: 55%;
    text-align: center;
  }
}
@media(max-width: 500px) {
  .aboutImage {
    width: 75%;
    margin: 0;
  }
  .aboutLeftTitle {
    margin: 0;
    margin-right: 20px;
  }
}
@media(max-width: 430px) {
  .aboutRightFollowUs {
    max-width: 60%;
  }
}
@media(max-width: 380px) {
  .aboutLeftTitle {
    font-size: 24px;
  }
  .aboutLeftSubTitle {
    font-size: 24px;
  }
}
@media(max-width: 370px) {
  .aboutSocial {
    margin: 25px auto;
  }
}
