/* Shop Start */
.shopCover {
  width: 65%;
  display: block;
  margin: auto;
}
.shopTextContent {
  max-width: 55%;
  margin: auto;
}
.shopHeading {
  font-family: LightFont;
  font-weight: normal;
  font-size: 40px;
}
.shopSubHeading {
  font-family: LightFont;
  font-weight: normal;
  font-size: 50px;
  margin: 10px 0;
}
.shopSubHeading2::after {
  background-color: #000000;
  display: block;
  height: 4px;
  width: 30%;
  content: "";
  margin: 30px 0;
  margin-bottom: 75px;
}
.shopDescription {
  font-family: "Courier New", Courier, monospace;
  margin: 25px 0;
  font-size: 18px;
}
.shopDetails {
  font-family: AvenirNext-Regular;
  margin: 50px 0;
  font-size: 17px;
}

.shopMagazineImages {

}
.shopMagazineImage {
  max-width: 50%;
  display: block;
  margin: 5px auto;
}
/* Shop End */

/* Media Queries */
@media(max-width: 500px) {
  .shopCover {
    width: 90%;
  }
  .shopTextContent {
    max-width: 90%;
  }
}
@media(max-width: 414px) {
  .shopHeading {
    font-size: 30px;
  }
  .shopSubHeading {
    font-size: 40px;
  }
}
@media(max-width: 320px) {
  .shopHeading {
    font-size: 25px;
  }
  .shopSubHeading {
    font-size: 30px;
  }
}
