/* Shop Start */
.shopCover {
  width: 65%;
  display: block;
  margin: auto;
}
.shopTextContent {
  max-width: 55%;
  margin: auto;
}
.shopHeading {
  font-family: LightFont;
  font-weight: normal;
  font-size: 40px;
}
.shopSubHeading {
  font-family: LightFont;
  font-weight: normal;
  font-size: 50px;
  margin: 10px 0;
}
.shopSubHeading2::after {
  background-color: #000000;
  display: block;
  height: 4px;
  width: 30%;
  content: "";
  margin: 30px 0;
  margin-bottom: 75px;
}
.shopDescription {
  font-family: "Courier New", Courier, monospace;
  margin: 25px 0;
  font-size: 18px;
}
.shopDetails {
  font-family: AvenirNext-Regular;
  margin: 50px 0;
  font-size: 17px;
}
/* Shop End */
