/* Articles Start */
.logo {
	text-align: center;
	font-size: 100px;
	font-family: WoodCutter, sans-serif;
	font-weight: 100;
	margin: 10px 0;
}
.articleDate {
	text-align: center;
	font-family: andale;
	margin-top: 150px;
	font-weight: 500;
	font-size: 18px;
}
.articleName {
	text-align: center;
	font-family: BudhayantiScript,sans-serif;
	font-size: 40px;
	margin: 50px 0;
	margin-bottom: 40px;
	font-weight: 500;
	letter-spacing: 3px;
  line-height: 2;
}
.articleTitle {
	text-align: center;
	font-family: LightFont, monospace;
	margin: 50px 0;
	margin-top: 10px;
  font-size: 30px;
	font-weight: 500;
  letter-spacing: 2px;
}
.articleUser {
	text-align: center;
	font-family: andale, monospace;
	margin: 50px 0;
	font-weight: 500;
	letter-spacing: 2px;
}
.articleImage {
  max-width: 60%;
  display: block;
  margin: 20px auto;
}
.articleText {
  max-width: 60%;
  margin: 50px auto;
  font-family:"Courier New", Courier, monospace ;
  font-size: 17px;
}
.articleQuestion {
  margin: 50px 0;
  margin-bottom: 30px;
}
.articleAnswer {
  margin: 20px 0;
  margin-bottom: 75px;
}
.articleCredits {
  max-width: 60%;
  margin: auto;
}
.articleCreditTitle {
  font-family:"Courier New", Courier, monospace;
  font-weight: 100;
  font-size: 25px;
  margin: 20px 0;
}
.articleCredits p {
  font-family:"Courier New", Courier, monospace;
  font-size: 16px;
  margin: 10px 0;
}
/* Articles End */
@media(max-width: 1200px) {
	.articleDate {
		margin-top: 50px;
	}
}
@media(max-width:750px) {
  .articleImage {
    max-width: 90%;
  }
  .articleText {
    max-width: 90%;
  }
  .articleCredits {
    max-width: 90%;
  }
}
@media(max-width: 555px) {
	.articleName {
		font-size: 30px;
	}
	.articleTitle {
		font-size: 25px;
	}
}
@media(max-width: 450px) {
  .articleText {
    font-size: 17px;
  }
}
@media(max-width: 400px) {
  .articleText {
    font-size: 16px;
  }
  .articleImage {
    max-width: 95%;
  }
}
