/* Articles Start */
.logo {
	text-align: center;
	font-size: 100px;
	font-family: WoodCutter, sans-serif;
	font-weight: 100;
	margin: 10px 0;
}
.articleDate {
	text-align: center;
	font-family: andale;
	margin-top: 150px;
	font-weight: 500;
	font-size: 18px;
}
.articleName {
	text-align: center;
	font-family: BudhayantiScript,sans-serif;
	font-size: 40px;
	margin: 50px 0;
	margin-bottom: 40px;
	font-weight: 500;
	letter-spacing: 3px;
  line-height: 2;
}
.articleTitle {
	text-align: center;
	font-family: LightFont, monospace;
	margin: 50px 0;
	margin-top: 10px;
  font-size: 30px;
	font-weight: 500;
  letter-spacing: 2px;
}
.articleUser {
	text-align: center;
	font-family: andale, monospace;
	margin: 50px 0;
	font-weight: 500;
	letter-spacing: 2px;
}
.articlePhotos {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  flex-grow: 0;
  flex-shrink: 0;
}
.articleImage {
  margin: 50px;
}
.articleImage5 {
  flex-basis: 60%;
}
.articleImage6 {
	flex-basis: 30%;
}
.articleImage7 {
flex-basis: 30%;
}
.articleImage8 {
	flex-basis: 30%;
}
.articleImage9 {
	flex-basis: 30%;
}

.articleCredits {
  max-width: 50%;
  margin: auto;
  padding-bottom: 100px;
}
.articleCredit {
  font-family: andale;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}
.articleCreditDetail {
  font-family: andale;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 30px 0;
}
.articleWardrobe {
  margin-bottom: 15px;
}
.articleWardrobeLine2 {
  font-family: andale;
  font-size: 15px;
  letter-spacing: 2px;
  padding-left: 99px;
}
/* Articles End */
@media(max-width: 1316px) {
	.articleCredits {
		max-width: 80%;
	}
}
@media(max-width: 1200px) {
	.articleDate {
		margin-top: 50px;
	}
}
@media(max-width: 800px) {
	.articleCredits {
		max-width: 95%;
	}
}
@media(max-width: 780px) {
	.articleImage6 {
		flex-basis: auto;
	}
	.articleImage7 {
		flex-basis: auto;
	}
	.articleImage8 {
		flex-basis: auto;
	}
	.articleImage9 {
		flex-basis: auto;
	}
}
@media(max-width: 555px) {
	.articleName {
		font-size: 30px;
	}
	.articleTitle {
		font-size: 25px;
	}
}
@media(max-width: 488px) {
	.articleWardrobeLine2 {
		padding-left: 0;
	}
}
@media(max-width: 700px) {
	.articleImage5 {
		flex-basis: 100%;
	}
}
@media(max-width:500px) {
	.articlePhotos {
		max-width: 100%;
	}
}
@media(max-width: 450px) {
	.articleImage {
		margin: 20px;
	}
}
@media(max-width:400px) {
	.articleImage {
		margin: 10px;
	}
}
