.social {
	position: relative;
	margin: 0 auto;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	text-align: center;
	font-size: 100px;
	font-family: WoodCutter, sans-serif;
	font-weight: 100;
	margin: 10px 0;
	margin-bottom: 100px;
}
/* Articles Start */
.lifestyleThumbnails {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    }
    
.lifestyleThumbnail {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 25px;
}
.lifestyleImage {
    width: 90%;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
}

.lifestyleName {
    font-family: LightFont;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: #494949;
}
.lifestyleTitle {
        font-family: Slabo, serif;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 1px;
        padding: 10px;
        margin: 10px;
        text-align: center;
        color: #444444;
}
.lifestyleDateWriter {
    margin: 10px 0;
    color: #3c3b3b;
    text-align: center;
}
.lifestyleDate {
    font-family: andale, monospace;
    font-weight: 300;
    display: inline;
}
.lifestyleWriter {
    font-family: andale, monospace;
    font-weight: 300;
    display: inline;
}
.lifestyleDescription {
    font-family: AvenirNext-Regular;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0;
    color: #3c3b3b;
    max-width: 85%;
}
.lifestyleLink {
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding:0.5em 1em;
    border: 1px solid black;
    margin: 10px 0;
    transition: 0.2s ease-in-out;
}
.lifestyleLink:hover, .lifestyleLink:focus {
    color: white;
    background-color: black;
}
/* Articles End */
@media(max-width: 400px) {
	.lifestyleName {
		font-size: 25px;
		line-height: 50px;
	}
	.lifestyleTitle {
		font-size: 20px;
	}
	.lifestyleDateWriter {
		font-size: 14px;
	}
}